<%= form_for @micropost do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div>
		<%= f.text_area :content , id: "message" %> <span id="reste">140</span>
	</div>
	<div>
		<%= f.submit "Poster" %>
	</div>
  <script>
      var limit = 140;
    $("#message").keyup(function () {
        var message = $("#message").val().length;
        var reste = limit - message;
        $("#reste").text(reste)
        if (reste < 0) {
            $("#reste").text("limit reached")
        }
    });

  </script>
<% end %>